.description img:nth-of-type(1) {
    display: inline-block;
}

.main {
    margin-top: 50px;
}

.checkbox {
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
}
.checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    right:18px;
    z-index: -10;
}

form .add-btn {
    background: url(../img/add.png) no-repeat;
    width: 30px;
    height: 30px;
    text-indent: -999em;
}

form .added {
    background: url(../img/added.png) no-repeat;
}

form {
    width: 700px;
}

form .feed-icon {
}

form  .description-toggle {
    background: url(../img/more.png) right center no-repeat;
    margin-right: 50px;
    width: 100px;
}

form .feed-description {
    display: none;
}

form .description-toggle.open {
    background: url(../img/less.png) right center no-repeat;
}

#header-search-form {
    margin-top: 0;
    line-height: 18px;
}

#header-search-form input[type="text"] {
    margin-bottom: 0;
}

#header-search-form label {
    display: none;
}

#header-search-form input.submit {
    margin-bottom: 4px;
    margin-top: 4px;
}


