
.description img:nth-of-type(1) {
    display: inline-block;
}

.main {
    margin-top: 50px;
}

.checkbox input[type="checkbox"] {
    float: right;
}

#header-search-form {
    margin-top: 0;
    line-height: 18px;
}

#header-search-form input[type="text"] {
    margin-bottom: 0;
}

#header-search-form label {
    display: none;
}

#header-search-form input.submit {
    margin-bottom: 4px;
    margin-top: 4px;
}

