{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% load url from future %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
