{% extends "base.html" %}

{% block title %}Profile Form{% endblock title %}
{% block content %}
{% if userprofile.id %}
<h2>Edit Profile</h2>
{% else %}
<h2>Create Profile</h2>
{% endif %}

    {% load crispy_forms_tags %}
    {% crispy form form.helper %}
{% endblock content %}
