{% extends "base.html" %}
{% block content %}
{% block title %}
<h1>Profile</h1>

<a href="{% url "userprofile_update" %}">Edit Profile</a>
<ul>
    <li>Name: {{ userprofile.first_name }} {{ userprofile.last_name }}</li>
    <li>Email: {{ userprofile.email }}</li>
    <li>Zip Code: {{ userprofile.zip_code }}</li>
</ul>

{% endblock %}

{% endblock %}
