{% extends "base.html" %}
{% load social_share %}{% load staticfiles %}
{% block content %}
{% block title %}
{% endblock title %}
{% if list %}
<a href="{% url 'list_delete' list.id %}">Delete List</a>
{% endif %}
<div id="articles">
    {% for article in articles %}
                        <div class="row-fluid">
                        <div class="span12 article" id="{{ article.id }}">
                            <h3><a href="#top" data-url="{{ article.url }}" class="title">{{ article.title }}</a></h3>
                            <p>By {{ article.author }} at {{ article.feed }}</p>
                            <div class="description">
                                {{ article.description|safe|truncatewords_html:50 }}
                            </div>
                            <div class="social-buttons">
                          <button class="btn like">Like</button>
                          <button class="btn save" href="#">Save</button>
                          <div class="btn-group">
                              <a class="btn dropdown-toggle" data-toggle="dropdown" >Share<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!--<li>{% post_to_facebook article.url %}</li>-->
                                <li><a href="#" data-url="{{ article.url }}" onclick="postToFeed(this)">Post to Facebook</a></li>
                                <li><a href="https://twitter.com/intent/tweet?url={{ article.url }}&via=viligrnyc&text={{ article.title }}">Post to Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                      </div>
                          </div><!--/row-->
  {% endfor %}
                      </div>                          
<script type="text/javascript">
<!--
function autoResize(id) {
    var newheight;
    var newwidth;

    if(document.getElementById(id)){
        newheight=document.getElementById(id).contentWindow.document.body.scrollHeight;
        newwidth=document.getElementById(id).contentWindow.document.body.scrollWidth;
        console.log(document.getElementById(id).contentWindow.document);
        console.log(newheight + ' x ' + newwidth);
    }

    document.getElementById(id).height= (newheight) + "px";
    document.getElementById(id).width= (newwidth) + "px";
}
//-->
</script>
<div id="reader-pane" class="hide">
    <a class="close btn">X</a>
    <iframe id="readerframe" name="reader" src="" frameborder="no" scrolling="no" style="width:100%;height:100%;overflow:auto;"></iframe>
</div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/reader?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}

