{% load social_share %}
{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/viligr.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
    </head>
    <body>
{% block content %}
{% block title %}
<h1 id="top">{{ headline }}</h1>
{% endblock title %}
<p>By {{ article.author }} at {{ article.feed }}</p>
<div class="description">
{{ article.description|safe }}
</div>
{% endblock content %}
</body>
</html>
