{% load debug_tags %}
<div class="controls"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
    {% include 'bootstrap/layout/field_errors_block.html' %}

    {% for choice in field.field.choices %}
    <div class="feed row">
        <div class="feed-icon span1"></div>
        <div class="feed-name span5">{{ choice.1 }}
            <div class="feed-description"> {{ field.field.queryset.description }}
                {% for feed in field.field.queryset %}
                    {% if feed.id == choice.0 %}
                        {{ feed.description }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="description-toggle span2">See More</div>
        <label class="checkbox{% if inline_class %} {{ inline_class }}{% endif %} span1">
            <div class="add-btn">Add</div>
            <input type="checkbox"{% if choice.0 in field.value or choice.0|stringformat:"s" in field.value or choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0 }}">
        </label>
    </div>
    {% endfor %}

    {% include 'bootstrap/layout/help_text.html' %}
</div>


