{% extends "base.html" %}
{% block content %}
{% block title %}
<h1>{{ headline }}</h1>
{% endblock title %}


    {% for article in article_list %}
                        <div class="row-fluid">
                        <div class="span9 article" id="{{ article.id }}">
                            <h3><a href="#reader-pane" data-toggle="modal" data-url="{{ article.url }}" class="title">{{ article.title }}</a></h3>
                            <p>By {{ article.author }} at {{ article.feed }}</p>
                            <div class="description">
                                {{ article.description|safe }}
                            </div>
                          <button class="btn like">Like</button>
                          <button class="btn save" href="#">Save</button>
                          <button class="btn">Share</button>
                        </div>
                          </div><!--/row-->
  {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/reader?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/reader?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}

