{% extends "base.html" %}

{% block content %}
<h1>Articles</h1>
<div id="reader-pane">
    <iframe name="reader" src="" style="width:99%;height:400px;overflow:auto;"></iframe>
</div>
<div id="articles">
    {% for article in articles %}
    <div class="article" id="article-{{ article.id }}">
        <a href="{{ article.url }}" target="reader" class="title">{{ article.title }}</a>
        <div class="meta" style="display:none;">
            <a class="author">{{ article.author }}</a>, <a class="source">{{ article.feed }}</a> - {{ article.pubdate }}
        <div class="description">{{ article.description|safe }}</div>
        </div>
    </div>    
    {% endfor %}
 </div>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/reader?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/reader?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
<script>
    $(document).ready(function() {
        $('.article .title').click(function(){
            var id = $(this).closest("div").attr("id");
            console.log(id);
            $('#reader-frame iframe').attr('src',
            $('#' +id + ' .meta').toggle();
        });
    });
</script>
{% endblock content %}

