{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <title>Viligr</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/viligr.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/handlebars.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ember.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ember-data.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ember-data-django-rest-adapter.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
    </head>
    <body>
        {% block navbar %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Viligr</a>
      <div class="btn-group pull-right">
          {% if user.is_authenticated %}
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> {{ user.first_name }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url "profile" %}">Profile</a></li>
          <li class="divider"></li>
          <li><a href="{% url "my_logout" %}">Sign Out</a></li>
      </ul>
      {% else %}
      <a class="btn" href="{% url "login" %}">
          <i class="icon-user"></i> Login
          <span class="caret"></span>
        </a>
        
      {% endif %}
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        
<form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
</form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{% endblock navbar %}
<div class="main">
    <div class="box">
        <div class="row-fluid">
            {% block leftcolumn %}
            <div class="column span2">
              <ul class="nav nav-list nav-fixed-sidebar">
              <li class="divider"></li>
              <li class="active"><a href="{% url "article_list" %}">Home</a></li>
                <li class="divider"></li>
                <li>
                    <a href="/reader/">Know</a>
                    <ul class="nav nav-list">
                        <li><a href="{% url "list_create" %}" class="new-list">+ New List</a></li>
                        {% for list in user_lists %}
                        <li><a href="{% url 'list_detail' list.id %}">{{ list.name }}</a></li>
                        {% endfor %}
                        <li><a href="{% url "feed_subscribe" %}">+ Add Content</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><a href="#">Do</a></li>
                <li class="divider"></li>
                <li><a href="#">Get</a></li>
                <li class="divider"></li>
                <li><a href="{% url "saved_articles" %}">Saved</a></li>
                <li class="divider"></li>
                <li><a href="#">Social</a></li>
                <li class="divider"></li>
                <a href="#" class="btn btn-danger">Publish</a>
                <li class="divider"></li>
              </ul>
          </div>
          {% endblock leftcolumn %}
            <div class="column span7">
          {% block messages %}
                {% if messages %}
                    <ul class="messages unstyled">
                        {% for message in messages %}
                        <li id="message_{{ forloop.counter }}"
                                {% if message.tags %} class="{{ message.tags }} label label-success"
                                    {% endif %}>
                               {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock messages %}
{% block content %}

{% endblock content %}
            </div>

            {% block rightcolumn %}
        <div class="column span3">
            <div id="twitter-feed">
            <h2>Twitter Feed</h2>
                <a class="twitter-timeline" height="570px" href="https://twitter.com/ViligrNYC" data-widget-id="349715214213709824">Tweets by @ViligrNYC</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Most Read</a></li>
                    <li><a href="#tab2" data-toggle="tab">Favorites</a></li>
                    <li><a href="#tab3" data-toggle="tab">Shared</a></li>
                </ul>
            </div>
        </div>
        {% endblock rightcolumn %}
        </div>
      
    </div>
</div>
<script type="text/javascript">

$(document).ready(function () {

    $('.new-list').click(function() {
        var url = $(this).attr('href');
        
    });

});
  App.Store = DS.DjangoRESTStore.extend({
          adapter: DS.DjangoRESTAdapter.create()
        });
</script>

</body>
</html>
