{% load staticfiles %}
{% load compress %}
<html>
    <body>
    <div id="articles">
        
    </div>
<script src="{% static 'js/vendor/jquery.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  jQuery(document).ajaxSend(function(event, xhr, settings) {
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
      var token = $('meta[name="csrf-token"]').attr('content');
      xhr.setRequestHeader("X-CSRFToken", token);
    }
  });
</script>
{% compress js %}
<script src="{% static 'js/vendor/handlebars-1.0.0-rc.4.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/ember-1.0.0-rc.6.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/ember-data-0.13.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/adapter.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app/viligr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app/templates/articles.handlebars' %}" type="text/x-handlebars"></script>
<script src="{% static 'js/app/templates/application.handlebars' %}" type="text/x-handlebars"></script>
{% endcompress %}
</body>
</html>
