{% extends "base.html" %}

{% block content %}
{% block login %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock login %}
                <a href="{% url "userprofile_create" %}">Create Account</a>
                <a href="{% url "socialauth_begin" "facebook" %}">Login with Facebook</a>
                <a href="{% url "socialauth_begin" "twitter" %}">Login with Twitter</a>
{% endblock content %}
