{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Viligr</title>

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <h1 id="logo">Viligr</h1>
            <menu>
                {% if user.is_authenticated %}
                <li><a href="{% url "my_logout" %}">Logout</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/account/update">Update</a></li>
                <li><a href="{% url "article_list" %}">Articles</a></li>
                {% else %}
                <li><a href="{% url "my_login" %}">Login</a></li>
                <li><a href="{% url "socialauth_begin" "facebook" %}">Login with Facebook</a></li>
                <li><a href="{% url "socialauth_begin" "twitter" %}">Login with Twitter</a></li>
                <li><a href="/account/create">Create Account</a></li>
                {% endif %}
            </menu>
        </header>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li id="message_{{ forloop.counter }}"
                {% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>
               {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}

{% endblock %}
    </body>
</html>
