{{#each article in controller}}
    <h2>{{article.title}}</h2>
    <h4>{{article.author}}</h4>
    {{{article.description}}}
{{/each}}
  {{#if hasPages}}
    <p><a href="#" {{action toggleOrder}}>Toggle Order</a></p>
  
    <div class="pagination">
      <ul>
        {{#if prevPage}}
          <li><a href="#" {{action "selectPage" prevPage}}>&laquo;</a></li>
        {{else}}
          <li class="disabled"><a>&laquo;</a></li>
        {{/if}}
        
        {{#each pages itemController="page"}}
          <li {{bindAttr class="active disabled"}}><a href="#" {{action "selectPage" number}}>{{number}}</a></li>
        {{/each}}
        
        {{#if nextPage}}
          <li><a href="#" {{action "selectPage" nextPage}}>&raquo;</a></li>
        {{else}}
          <li class="disabled"><a>&raquo;</a></li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
